extends layout

block content
  include _includes/auth-nav.jade
  
  .row
    .small-12.text-center.columns
      br
      h4= header
  .row
    .small-8.medium-4.small-centered.columns
      form
        .row
          input(type='text', placeholder='email')
        .row
          input(type='password', placeholder='password')
  .row
    .small-12.small-centered.text-center.columns
      a.button(href='/', type='button')= action
  .row
    .small-10.medium-4.small-centered.text-center.columns
      hr
      p= secondaryHeader
      a.small.button(href='/#{secondaryUrl}', type='button')= secondaryAction
