extends layout

block content
  include _includes/logged-in-nav.jade
  
  .row
    .small-12.text-center.columns
      h3= title
  .row
    .medium-10.small-centered.columns
      ul.menu
        li
          if _id
            a(href='/manager/#{_id}/game') Game
          else
            a(href='/manager/new/game') Game
        li
          if _id
            a(href='/manager/#{_id}/data') Data
          else
            a(href='/manager/new/data') Data
      br
  .row
    .medium-10.small-centered.columns
      table
        thead
          tr
            th Separate each answer with a "/"
            th 
        tbody
          each question in data
            tr
              td.small-11
                input(type='text', value='#{question}')
              td.small-1
                a.small.button(href='/manager', type='button') X

  .row
    .small-6.text-center.columns
      a.small.button(href='/manager', type='button') +

    .small-6.text-center.columns
      a.small.button(href='/manager', type='button') Save
